<!-- プライバシーポリシーページ -->

<div class="main">
  <div class="container">
    <h1>Política de privacidad</h1>
    <p>Miraie México, S.A. de C.V. (en adelante, “la Compañía”) establece la siguiente Política de Privacidad (en adelante, “esta Política”) con respecto al tratamiento de la información personal del usuario en los servicios proporcionados por la Compañía (en adelante, “los Servicios”).</p>
    <h2>Definición de Información Personal</h2>
    <p>“Información Personal” se refiere a la “información personal” según la Ley de Protección de Datos Personales, e incluye información sobre individuos vivos que puede identificar a una persona específica a través de nombre, fecha de nacimiento, dirección, número de teléfono, contacto y otros descriptores, así como datos como apariencia física, huellas dactilares, voz, y números de seguro de salud (Información de Identificación Personal).</p>
    <h2>Métodos de Recolección de Información Personal</h2>
    <p>La Compañía obtiene información personal de las siguientes maneras:
      <ol>
        <li>Directamente del usuario</li>
        <li>Recopilación de información publicada en Internet</li>
        <li>Indirectamente a través de terceros</li>
        <li>Indirectamente a través de empresas</li>
        <li>A través de nuestros socios comerciales, incluyendo proveedores de información, anunciantes, destinos de publicidad (en adelante, “Socios”).</li>
      </ol>
      <h2>Objetivo de la Recolección y Uso de Información Personal</h2>
      <p>Los fines para los cuales la Compañía recopila y utiliza la información personal son los siguientes:</p>
      <ol>
        <li>Para proporcionar y operar los Servicios</li>
        <li>Para responder a consultas del usuario (incluida la verificación de identidad)</li>
        <li>Para notificaciones necesarias para la operación de los Servicios (incluido por correo electrónico)</li>
        <li>Para contactar según sea necesario, incluyendo nuevos servicios, mantenimiento, anuncios importantes, encuestas (incluido por correo electrónico)</li>
        <li>Para proporcionar información relacionada con los Servicios y otros servicios relacionados</li>
        <li>Para anunciar productos de la Compañía y terceros (incluido por correo electrónico)</li>
        <li>Para la creación y uso de información estadística que no identifique a individuos en los Servicios</li>
        <li>Para el análisis y la investigación de datos necesarios para el desarrollo de nuevos servicios</li>
        <li>Para publicidad dirigida basada en el comportamiento, género, historial de acceso del usuario</li>
        <li>Para ejercer derechos y cumplir obligaciones basadas en contratos y leyes</li>
        <li>Para servicio postventa y atención a diversas consultas</li>
        <li>Para cobrar tarifas en servicios de pago</li>
        <li>Para identificar a usuarios que violen los términos de uso o que utilicen el servicio con fines fraudulentos o inapropiados, y para rechazar su uso</li>
        <li>Para fines asociados con los anteriores</li>
      </ol>
      <h2>Cambio de Objetivo de Uso</h2>
      <ol>
        <li>La Compañía puede cambiar el propósito del uso de la información personal solo si se considera razonablemente relacionado con el propósito original.</li>
        <li>Si cambiamos el propósito, notificaremos al usuario o lo publicaremos en la Compañía según lo establecido por la Compañía.</li>
      </ol>
      <h2>Suministro de Información Personal a Terceros</h2>
      <ol>
        <li>La Compañía no proporcionará información personal a terceros o empresas sin el consentimiento previo del usuario, excepto cuando lo permitan las leyes de protección de datos personales y otras leyes. Sin embargo, esto no se aplica en los siguientes casos:
          <ol>
            <li>Cuando es necesario para proteger la vida, el cuerpo o la propiedad de una persona y es difícil obtener el consentimiento del individuo</li>
            <li>Cuando es especialmente necesario para mejorar la salud pública o promover el desarrollo saludable de los niños y es difícil obtener el consentimiento del individuo</li>
            <li>Cuando es necesario cooperar con un organismo gubernamental o una entidad local o una persona encargada por ellos para realizar las operaciones prescritas por la ley, y obtener el consentimiento del individuo podría obstaculizar la realización de las operaciones.</li>
            <li>De antemano, se notificará o publicará lo siguiente, y además nuestra empresa habrá notificado a la Comisión de Protección de Datos Personales cuando:
              <ol>
                <li>El propósito del uso incluye la provisión a terceros.</li>
                <li>Los elementos de los datos proporcionados a terceros.</li>
                <li>Los medios o métodos de provisión a terceros.</li>
                <li>Detener la provisión de información personal a terceros a solicitud del interesado.</li>
                <li>Método para aceptar solicitudes del interesado.</li>
              </ol>
            </li>
          </ol>
        </li>
        <li>Sin perjuicio de lo dispuesto en el párrafo anterior, en los siguientes casos, el destinatario de la información no se considerará un tercero:
          <ol>
            <li>Cuando nuestra empresa subcontrate todo o parte del manejo de información personal dentro del alcance necesario para lograr el propósito del uso.</li>
            <li>Cuando la información personal se proporciona en conexión con una sucesión de negocios debido a una fusión u otra razón.</li>
            <li>En casos donde la información personal se usa conjuntamente entre personas específicas y, se ha notificado previamente al interesado, o se ha colocado en una condición en la que el interesado pueda conocer fácilmente, el propósito del uso de la información, los elementos de la información personal utilizada de forma conjunta, el alcance de las personas que utilizan la información de forma conjunta, y el nombre o designación de la persona responsable de la gestión de dicha información personal.</li>
          </ol>
        </li>
      </ol>
      <h2>Gestión de información personal</h2>
      <p>Implementamos medidas de seguridad necesarias y razonables de manera continua para proteger la información personal.</p>
      <h2>Período de almacenamiento de información personal</h2>
      <p>No devolvemos la información personal que hemos adquirido o que nos ha sido proporcionada por los usuarios. Eliminamos la información personal de manera responsable solo cuando es necesario hacerlo.</p>
      <h2>Subcontratación del manejo de información personal</h2>
      <p>Puede que nuestra empresa subcontrate el manejo de la información personal a terceros. En tales casos, realizamos una supervisión adecuada sobre el manejo de la información personal por parte del contratista.</p>
      <h2>Divulgación, corrección y eliminación de información personal</h2>
      <p>Divulgación, corrección y eliminación de información personal Este servicio cumple con las leyes de protección de datos personales y otros estatutos aplicables para responder a las solicitudes de divulgación, corrección, adición, eliminación, detención de uso, eliminación y cese de la provisión a terceros, así como notificación del propósito del uso de la información personal. Para la divulgación, corrección o adición de información personal, el usuario puede iniciar sesión en su cuenta usando su dirección de correo electrónico y contraseña. Para la eliminación de la información personal, póngase en contacto con nosotros para indicarlo. Puede que no podamos cumplir con la solicitud si no se puede verificar la identidad del solicitante o si la solicitud no cumple con los requisitos de la ley de protección de datos personales. Además, generalmente no divulgamos información que no sea información personal, como registros de acceso.</p>
      <h2>Contenido y responsabilidad de la información personal</h2>
      <p>La información personal que nos proporcione debe cumplir con los siguientes requisitos y usted será responsable de la misma:</p>
      <ol>
        <li>Debe ser información actualizada.</li>
        <li>Debe ser información precisa.</li>
        <li>Debe ser información que usted esté dispuesto a divulgar públicamente.</li>
      </ol>
      <h2>Administrador de protección de datos personales</h2>
      <p>Nuestra empresa designa al director ejecutivo como el administrador de la protección de datos personales y se esfuerza por proteger adecuadamente la información personal.</p>
      <h2>Cambios en la política de privacidad</h2>
      <ol>
        <li>El contenido de esta política puede cambiar sin previo aviso a los usuarios, excepto cuando las leyes o esta política indiquen lo contrario.</li>
        <li>A menos que nuestra empresa establezca algo diferente, la Política de Privacidad modificada será efectiva desde el momento en que se publique en este sitio web.</li>
      </ol>
      <h2>Punto de Contacto para Consultas</h2>
      <p>Para cualquier consulta relacionada con esta Política de Privacidad, por favor, contáctenos a través del formulario de consultas.</p>
      <p class="right-align">Anexo</p>
      <p class="right-align">Establecido y en vigor a partir del 5 de septiembre de 2023.</p>
    </div>
  </div>
