<div class="main posts-show">
  <div class="container">
    <h1>Términos y condiciones</h1>
    <p>Términos de Uso (en adelante, “los Términos”) establecen las reglas y las responsabilidades que deben seguirse por los usuarios registrados (como se define en el artículo 2) al utilizar el servicio proporcionado por Miraie México, S.A. de C.V. (en adelante, “la Empresa”).</p>
    <p>Si va a utilizar este servicio como usuario registrado, por favor asegúrese de leer todo el texto de estos Términos antes de aceptarlos.</p>
    <h2>Capítulo 1: Disposiciones Generales</h2>
    <h3>Artículo 1: Aplicabilidad</h3>
    <ol>
    <li>El objetivo de estos Términos es establecer las responsabilidades y derechos entre la Empresa y los usuarios registrados con respecto al uso del servicio. Estos Términos se aplican a todas las relaciones entre los usuarios registrados y la Empresa en relación con el uso del servicio.</li>
    <li>Las reglas y disposiciones adicionales relacionadas con el servicio que la Empresa publique de manera periódica en su sitio web (como se define en el artículo 2) formarán parte de estos Términos.</li>
    <li>Los usuarios registrados deberán cumplir con estos Términos, que incluyen las reglas relacionadas con el servicio, al utilizar el servicio.</li>
    </ol>
    <h3>Artículo 2: Definiciones</h3>
    <p>En estos Términos, los siguientes términos tendrán los significados que se establecen a continuación:</p>
    <ol>
    <li>“Producto” se refiere a todos los servicios que un vendedor proporciona a los miembros usuarios basados en un contrato de provisión, incluyendo textos, música, imágenes, videos, bases de datos o conjuntos de información que consisten en una combinación de estos, así como consultas telefónicas y tareas administrativas o laborales encargadas por los miembros usuarios.</li>
    <li>“Oferta” significa que el vendedor publica detalles del producto en el sitio web de la Empresa con el fin de usar el servicio.</li>
    <li>“Candidato registrado” se refiere a cualquier persona que desee utilizar este servicio.</li>
    <li>“Información de registro” significa la información personal del candidato registrado que se llena para el uso del servicio.</li>
    <li>“Usuario registrado” se refiere a una persona o entidad que se ha registrado para usar el servicio de acuerdo con el Artículo 4.</li>
    <li>“Cliente” significa: a) Un usuario registrado que busca o ha solicitado un producto a otro usuario registrado, o b) Un usuario registrado que busca comprar o ha comprado un producto de otro usuario registrado.</li>
    <li>“Candidato a vendedor” se refiere a un usuario registrado que desea hacer una oferta a través del servicio.</li>
    <li>“Información del vendedor registrado” se refiere a la información sobre el candidato a vendedor que se llena para la oferta.</li>
    <li>“Vendedor registrado” se refiere a una persona o entidad que se ha registrado como vendedor.</li>
    <li>“Vendedor” significa: a) Un usuario registrado que busca o ha aceptado ofrecer un producto a otro usuario registrado, o b) Un usuario registrado que busca vender o ha vendido un producto a otro usuario registrado en el sitio web.</li>
    <li>“Sitio web de la empresa” se refiere al sitio web operado por la empresa cuyo dominio es “<a href="https://olumeca.com/">https://olumeca.com/</a>” (esto incluye el sitio web después de cualquier cambio en el dominio o el contenido por cualquier razón).</li>
    <li>“Este servicio” se refiere al servicio denominado Olumeca que la Empresa ofrece en su sitio web (esto incluye el servicio después de cualquier cambio en el nombre o el contenido por cualquier razón).</li>
    <li>“Honorarios, etc.” se refiere al precio del producto que el cliente proporciona al vendedor.</li>
    <li>“Contrato de uso” se refiere al contrato de uso del servicio que se establece entre la Empresa y el usuario registrado de acuerdo con el Artículo 4, párrafo 3, y que se rige por estos Términos.</li>
    <li>“Derechos de propiedad intelectual” se refiere a derechos de autor, patentes, derechos de diseño de utilidad, marcas comerciales, derechos de diseño y otros derechos de propiedad intelectual (esto incluye el derecho a adquirir estos derechos o aplicar para su registro).</li>
    <li>“Servicios de SNS externos” se refiere a servicios de redes sociales como Facebook, que se utilizan para la autenticación de usuarios registrados, la divulgación de relaciones amistosas y la publicación de contenido en dicha red social externa, que son ofrecidos por terceros y se utilizan en la implementación de este servicio.</li>
    <li>“Proveedor de SNS externo” se refiere al ofertante del servicio de SNS externo.</li>
    <li>“Términos de uso de SNS externos” se refiere a los términos que rigen la relación de derechos entre el usuario registrado y el proveedor de SNS externo.</li>
    </ol>
    <h3>Artículo 3: Posición de la Compañía y Autoridad para Recibir Pagos por Representación</h3>
    <p>El contrato relacionado con la venta de productos se celebra entre el vendedor y el cliente, y la Compañía no será parte en dicho contrato. La Compañía no asume ninguna responsabilidad con respecto a los problemas entre el vendedor y el cliente. Sin embargo, el vendedor otorgará a la Compañía la autoridad para recibir el precio del producto en su representación. El cliente pagará el precio del producto a la Compañía, y la Compañía recibirá dicho precio en representación del vendedor.</p>
    <h2>Capítulo 2: Registro de Usuario</h2>
    <h3>Artículo 4: Registro</h3>
    <ol>
    <li>Aquellas personas que deseen utilizar este servicio (en adelante, “Solicitantes de Registro”) pueden registrarse para utilizar este servicio proporcionando a la Compañía cierta información (en adelante, “Información de Registro”) de la manera especificada por la Compañía, y aceptando cumplir con estos Términos y Condiciones.</li>
    <li>La solicitud de registro debe ser realizada siempre por la persona física o jurídica que pretenda utilizar el servicio, y en principio no se permiten solicitudes de registro a través de un representante. Además, los solicitantes de registro deben proporcionar información verdadera, precisa y actualizada a la Compañía al momento de la solicitud.</li>



    <li>Al completar el registro, se establecerá un contrato de uso del servicio entre el usuario registrado y la Compañía, de acuerdo con los términos y condiciones de este Acuerdo, y el usuario registrado podrá utilizar el servicio de la manera determinada por la Compañía.</li>



    <li>La Compañía puede cancelar el registro si determina que la persona que se ha registrado cumple con alguna de las siguientes condiciones: <br>(1) Si la Compañía considera que existe una posibilidad de violación de estos Términos y Condiciones. (2) Si toda o parte de la información de registro proporcionada a la Compañía es falsa, inexacta o incompleta. (3) Si la persona ha tenido su registro para utilizar este servicio cancelado en el pasado. (4) Si es un menor de edad, una persona bajo tutela, bajo custodia o bajo asistencia y no ha obtenido el consentimiento de su representante legal, tutor, custodio o asistente. (5) Si es una persona o entidad antisocial (lo que significa organizaciones de crimen organizado, miembros de dichas organizaciones, grupos de extrema derecha, fuerzas antisociales, o cualquier otro que se asemeje a los anteriores) o si la Compañía determina que tiene alguna forma de relación o involucramiento con fuerzas antisociales, como por ejemplo, proporcionando fondos. (6) Si la Compañía determina por cualquier otra razón que el registro no es apropiado.</li>
    </ol>



    <h3>Artículo 5: Cambios en la Información de Registro</h3>



    <p>Los usuarios registrados deberán notificar a la Compañía cualquier cambio en su información de registro sin demora, utilizando el método especificado por la Compañía, y deberán presentar la documentación requerida por la Compañía.</p>



    <h3>Artículo 6: Publicación del Perfil</h3>



    <ol>
    <li>Los usuarios registrados serán responsables de la gestión y conservación de su contraseña y su ID de usuario registrado. No se permite que permitan a terceros utilizarlo, ni que lo presten, transfieran, cambien de nombre, vendan o realicen acciones similares.</li>



    <li>Los usuarios registrados serán responsables de cualquier daño causado por la gestión inadecuada de su contraseña o ID de usuario registrado, errores en su uso, o uso por parte de terceros. La Compañía no asumirá ninguna responsabilidad en tales casos.</li>



    <li>En caso de que el usuario registrado descubra que su contraseña o ID de usuario registrado ha sido robado o está siendo utilizado por un tercero, deberá notificar inmediatamente a la Compañía y seguir las instrucciones proporcionadas por la Compañía.</li>
    </ol>



    <h3>Artículo 7: Creación de la Página de Perfil</h3>



    <ol>
    <li>Los usuarios registrados podrán crear una página de perfil de acuerdo con las especificaciones establecidas por la Compañía.</li>



    <li>Los usuarios registrados podrán publicar, actualizar, editar y eliminar fotos, direcciones de correo electrónico, etc., (denominados en conjunto como “Perfil, etc.”) en su página de perfil dedicada.</li>



    <li>La Compañía se reserva el derecho de realizar las siguientes acciones con respecto al “Perfil, etc.” publicado por el usuario registrado, ya sea antes o después de su publicación, y el usuario registrado acepta esto de antemano: (1) Revisar el contenido del “Perfil, etc.” (2) Decidir si publicar o no el “Perfil, etc.” que, a juicio de la Compañía, contenga expresiones generalmente ofensivas o indecentes. (3) Modificar o editar el contenido del “Perfil, etc.” para su publicación en este servicio. (4) Editar o eliminar el “Perfil, etc.” publicado en este servicio posteriormente. (5) Otros procesamientos que la Compañía considere necesarios.</li>



    <li>Los usuarios registrados solo podrán publicar en este servicio “Perfiles, etc.” para los cuales posean todos los derechos, incluidos los derechos de autor, y no deberán incluir: (1) Contenido que infrinja o pueda infringir los derechos de terceros, como derechos de autor, marcas registradas, derechos de privacidad, derechos de nombre, derechos de imagen, y honor. (2) Información que afecte a la privacidad de otras personas. (3) Información que pueda identificar a individuos, como nombres, direcciones de correo electrónico, direcciones y números de teléfono (esto incluye casos en los que dicha información se utilice en el nombre del autor o en el contenido del post, pero no está limitado a estos). (4) Expresiones inapropiadas como difamación, insultos, quejas o discursos discriminatorios hacia empresas, organizaciones, regiones o individuos específicos. (5) Contenido contrario a las leyes y a la moral pública o que pudiera serlo. (6) Contenido que sea contrario o pueda ser contrario a los temas o propósitos de este servicio. (7) Otro contenido o expresiones que la Compañía considere inapropiados.</li>



    <li>Si se produce algún problema entre la Compañía, otros usuarios registrados, los titulares de los derechos de “Perfiles de terceros, etc.” u otros terceros debido a una violación de las regulaciones del apartado anterior por parte del usuario registrado, este deberá resolver el problema a su propio costo y responsabilidad. La Compañía no asume ninguna responsabilidad en estos casos.</li>



    <li>Los usuarios registrados asumen toda la responsabilidad por el contenido de su “Perfil, etc.” y no deben realizar las siguientes acciones: (1) Publicar contenido no relacionado con este servicio. (2) Publicar contenido falso o incorrecto. (3) Publicar intencionadamente múltiples “Perfiles, etc.” con el mismo contenido. (4) Publicar consultas o quejas relacionadas con el contenido o las funciones de este servicio. (5) Publicar consultas o quejas sobre la precisión de la información publicada en este servicio. (6) Cualquier otra cosa que la Compañía considere inapropiada.</li>



    <li>La Compañía podrá tomar las medidas necesarias, incluida la suspensión de la publicación o el uso, si determina que el usuario registrado ha violado alguna de las disposiciones anteriores o ha publicado contenido inapropiado. La Compañía no asume ninguna responsabilidad por los daños que puedan surgir para el usuario registrado debido a estas acciones.</li>
    </ol>



    <h3>Artículo 8: Publicación del Perfil, etc.</h3>



    <p>El usuario registrado acepta de antemano que los elementos que ha configurado en su “Perfil, etc.” serán visibles para terceros (incluidos otros usuarios registrados, pero no limitados a estos) y que, por defecto, todos los “Perfiles, etc.” están configurados como “Públicos” en este servicio. La Compañía no asume ninguna responsabilidad por los daños que puedan surgir para el usuario registrado debido a la publicación de acuerdo con este artículo.</p>



    <h2>Capítulo 3: Registro de Vendedores</h2>



    <h3>Artículo 9: Registro de Vendedores</h3>



    <ol>
    <li>Aquellos que deseen listar productos en este servicio (en adelante, “Candidatos a Vendedores”) pueden solicitar el registro como vendedores en este servicio proporcionando a la Compañía la información especificada por la Compañía (en adelante, “Información de Registro de Vendedores”) de la manera prescrita por la Compañía.</li>



    <li>La solicitud de registro debe ser realizada exclusivamente por la persona física o jurídica que desea utilizar el servicio; en principio, no se permiten solicitudes de registro por parte de agentes. Además, los Candidatos a Vendedores deben proporcionar información verdadera, precisa y actualizada a la Compañía cuando soliciten el registro.</li>



    <li>La Compañía evaluará si registrar o no a los Candidatos a Vendedores según sus propios criterios. Si la Compañía aprueba el registro, notificará a los Candidatos a Vendedores y se completará el registro como vendedores en este servicio (en adelante, “Registro de Vendedores”) con dicho aviso.</li>



    <li>Una vez completado el Registro de Vendedores según el apartado anterior, los vendedores registrados podrán utilizar el servicio de listado en este servicio de la manera prescrita por la Compañía.</li>



    <li>La Compañía puede rechazar el Registro de Vendedores si quien ha solicitado el registro bajo el primer párrafo cae bajo alguna de las siguientes categorías: (1)Si la Compañía considera que hay un riesgo de violación de estos términos y condiciones. (2)Si hay falsedades, errores o omisiones en toda o parte de la Información de Registro de Vendedores proporcionada a la Compañía. (3)Si se trata de una persona cuyo Registro de Vendedor en este servicio ha sido revocado en el pasado. (4)Si es un menor, un adulto bajo tutela, bajo curatela o bajo asistencia y no ha obtenido el consentimiento del tutor legal, curador o asistente correspondiente. (5)Si se considera que es una fuerza antisocial, etc. (lo que significa grupos violentos, miembros de grupos violentos, grupos de derecha, fuerzas antisociales y otros similares) o si colabora o participa en la gestión, operación o mantenimiento de tales fuerzas a través de financiamiento o cualquier otra forma. (6)En otros casos en los que la Compañía considere que el Registro de Vendedores no es apropiado.</li>
    </ol>



    <h3>Artículo 10: Cambio de Información de Registro de Vendedores</h3>



    <p>El vendedor, en caso de que haya cambios en la información registrada, deberá notificar inmediatamente a la Compañía sobre dicho cambio utilizando el método especificado por la Compañía y deberá presentar los documentos requeridos por la Compañía.</p>



    <h3>Artículo 11: Creación de la Página de Perfil del Vendedor</h3>



    <ol>
    <li>El vendedor podrá crear una página de perfil siguiendo las pautas establecidas por la Compañía.</li>



    <li>El vendedor podrá publicar, actualizar, editar o eliminar información como una auto-presentación, área de residencia, etc. (en adelante, denominado en conjunto como “Perfil del Vendedor”) en su página de perfil específica.</li>



    <li>La Compañía podrá, sin el consentimiento del vendedor y antes o después de cualquier publicación, actualización, edición o eliminación del Perfil del Vendedor, llevar a cabo los siguientes procesos, y el vendedor acepta previamente esto: (1) Revisar el contenido del Perfil del Vendedor. (2) Decidir publicar o no publicar perfiles que contengan expresiones que la Compañía considere ofensivas o indecentes. (3) Modificar o editar el contenido del Perfil del Vendedor para su publicación en este servicio. (4) Modificar, editar o eliminar posteriormente perfiles publicados en este servicio. (5) Otros procesos que la Compañía considere necesarios.</li>



    <li>El Perfil del Vendedor publicado en este servicio debe ser propiedad exclusiva del vendedor en términos de derechos de autor y todos los demás derechos, y no deberá contener los siguientes elementos: (1) Contenido que infrinja o tenga el potencial de infringir derechos de terceros como derechos de autor, marcas registradas, privacidad, nombre, imagen o reputación. (2) Información relacionada con la privacidad de otras personas. (3) Información que permita identificar a individuos, como nombres, direcciones de correo electrónico, direcciones, números de teléfono, etc. (4) Expresiones inapropiadas como difamación, calumnias, quejas, o discriminación hacia empresas específicas, organizaciones, regiones o individuos. (5) Contenido contrario a las leyes o buenas costumbres o que tenga el potencial de serlo. (6) Contenido que sea contrario o tenga el potencial de ser contrario al tema o propósito de este servicio. (7) Otro contenido que la Compañía considere inapropiado.</li>



    <li>Si el vendedor viola cualquiera de las disposiciones anteriores y se produce un conflicto entre la Compañía, otros vendedores, los titulares de derechos de perfiles de terceros u otros terceros, el vendedor se compromete a resolver el conflicto por su cuenta y a su propio costo, y la Compañía no asumirá ninguna responsabilidad.</li>



    <li>El vendedor asumirá toda la responsabilidad por el contenido del Perfil del Vendedor y no llevará a cabo las siguientes acciones: (1) Publicar contenido no relacionado con este servicio. (2) Publicar contenido que sea falso o engañoso. (3) Publicar múltiples perfiles con el mismo contenido de forma deliberada. (4) Publicar consultas o quejas relacionadas con el contenido o las funciones de este servicio. (5) Publicar consultas o quejas sobre la precisión de la información publicada en este servicio. (6) Otros actos que la Compañía considere inapropiados.</li>



    <li>La Compañía podrá tomar las medidas necesarias, incluida la suspensión de la publicación o el uso, si se determina que el vendedor ha violado cualquiera de las disposiciones anteriores o ha publicado contenido inapropiado, y no será responsable de ningún daño sufrido por el vendedor como resultado.</li>
    </ol>



    <p></p>



    <h3>Artículo 12: Publicación del perfil del vendedor y similares</h3>



    <p>El vendedor acepta de antemano que la información establecida en su perfil y similares será pública para terceros (incluido el vendedor, pero no limitado a este). Además, en este servicio, todos los perfiles y similares están configurados como “públicos” por defecto. La empresa no asumirá ninguna responsabilidad por los daños causados al vendedor debido a la publicación conforme a este artículo.</p>



    <h2>Capítulo 4: Transacciones de productos</h2>



    <h3>Artículo 13: Procedimientos hasta la conclusión de la transacción</h3>



    <ol>
    <li>El vendedor puede publicar un documento de definición del proyecto que describa el contenido del producto que ofrece en el sitio web de nuestra empresa para buscar clientes interesados en comprar dicho producto. Los clientes pueden publicar un documento de definición del proyecto que describa el contenido del producto que buscan en el sitio web de nuestra empresa para encontrar vendedores que ofrezcan dicho producto. Los clientes también pueden proponer directamente a los vendedores individuales la provisión del producto que buscan, independientemente de si el vendedor ha publicado un documento de definición del proyecto o no.</li>



    <li>En casos donde sea necesario discutir el contenido y las condiciones del producto antes de la conclusión de la transacción, dichas discusiones deberán llevarse a cabo solo mediante el método designado por nuestra empresa en nuestro sitio web. A menos que nuestra empresa otorgue permiso específico, estas discusiones no deben llevarse a cabo mediante entrevistas personales, llamadas telefónicas, correos electrónicos u otros métodos.</li>



    <li>Si, como resultado de las discusiones en el párrafo anterior, se llega a un acuerdo sobre el contenido y las condiciones del producto, dicho acuerdo deberá reflejarse en el documento de definición del proyecto. Tanto el vendedor como el cliente deberán expresar su intención de acordar la transacción de acuerdo con el contenido del documento de definición del proyecto en el sitio web de nuestra empresa.</li>



    <li>Si el vendedor y el cliente llegan a un acuerdo sobre el contenido de la transacción, ambos podrán crear un contrato separado si así lo desean, pero aún deberán seguir el procedimiento descrito en el párrafo anterior.</li>
    </ol>



    <h3>Artículo 14: Documento de definición del proyecto</h3>



    <ol>
    <li>Nuestra empresa revisará los documentos de definición del proyecto que los usuarios registrados hayan creado o modificado y solicitado su publicación, de acuerdo con nuestros criterios. Publicaremos en nuestro sitio web aquellos documentos que pasen la revisión. Además, informaremos a los solicitantes sobre el resultado de la revisión. Cabe destacar que no tenemos la obligación de explicar las razones de un rechazo en la revisión, y no asumiremos ninguna responsabilidad por daños derivados de la no publicación.</li>



    <li>Nuestra empresa puede retirar los documentos de definición del proyecto publicados en nuestro sitio web si cumplen con cualquiera de los siguientes criterios. No asumiremos ninguna responsabilidad por los daños causados a los usuarios registrados debido a dicha eliminación. (1) Si nuestra empresa juzga que existe una posibilidad de violar estos términos y condiciones o las pautas que establezcamos por separado. (2) Si toda o parte de la información proporcionada a nuestra empresa es falsa, contiene errores o omisiones. (3) En otros casos en los que nuestra empresa considere que el registro no es apropiado.</li>



    <li>Respecto al orden de publicación de los documentos de definición del proyecto, así como el diseño de este servicio y de nuestro sitio web, estos serán decididos a discreción de nuestra empresa. Los usuarios registrados que hayan publicado un documento de definición del proyecto no podrán presentar ninguna objeción al respecto.</li>
    </ol>



    <h3>Artículo 15: Tipos de remuneración</h3>



    <p>Se podrá optar entre un sistema de remuneración con una cantidad fija y un sistema de remuneración por hora.</p>



    <h3>Artículo 16: Pago de remuneración para productos con un sistema de cantidad fija</h3>



    <ol>
    <li>La remuneración y otros pagos para productos con un sistema de cantidad fija se realizarán en un solo pago por adelantado.</li>



    <li>El pago anticipado de la remuneración y otros pagos para productos con un sistema de cantidad fija deberá realizarse dentro de los 7 días siguientes a que tanto el vendedor como el cliente acuerden la conclusión de la transacción en el sitio web correspondiente.</li>
    </ol>



    <h3>Artículo 17: Pago de remuneración para productos con sistema de tarifa por hora</h3>



    <ol>
    <li>Si el período de implementación de la provisión de productos con sistema de tarifa por hora es de 30 días o menos, el vendedor y el cliente acordarán el número estimado de horas de operación durante todo el período planeado. El cliente pagará de antemano el monto total de la remuneración estimada, que se calcula multiplicando la tarifa por hora por el número estimado de horas de operación.</li>



    <li>El pago anticipado mencionado en el apartado anterior se llevará a cabo dentro de los 7 días posteriores a que tanto el vendedor como el cliente acuerden la conclusión de la transacción en el sitio web correspondiente.</li>



    <li>Si el período de implementación de la provisión de productos con sistema de tarifa por hora excede los 30 días, el cliente podrá pagar la remuneración estimada en adelantos de 30 días cada uno.</li>



    <li>El adelanto de 30 días mencionado en el apartado anterior se pagará desde el día anterior al inicio de la provisión del producto hasta el último día de los primeros 30 días, y se repetirá este procedimiento para cada período subsecuente de 30 días.</li>



    <li>Una vez completada la provisión de productos con sistema de tarifa por hora, el vendedor y el cliente acordarán el número real de horas de operación.</li>



    <li>La diferencia entre la remuneración anticipada estimada y la remuneración real, que se calcula multiplicando la tarifa por hora por el número real de horas de operación, se liquidará mediante el procedimiento especificado por la empresa.</li>
    </ol>



    <h3>Artículo 18: Pago de remuneración para productos de tipo suscripción&nbsp;</h3>



    <ol>
    <li>En el caso de productos cuya remuneración se determina por períodos (referidos como productos de tipo suscripción de aquí en adelante), si el cliente establece un período de uso de 30 días o menos en el momento de la compra, deberá pagar el monto total de la remuneración antes del día anterior a la fecha de inicio del uso.</li>



    <li>Si el período de uso de un producto cuya remuneración se determina por períodos supera los 30 días, el cliente podrá realizar pagos anticipados de la remuneración correspondiente a intervalos de 30 días.</li>



    <li>El pago anticipado de la remuneración por los primeros 30 días debe hacerse antes del día anterior al inicio del período de uso. Para los siguientes intervalos de 30 días, el pago deberá hacerse antes del último día del período de 30 días previo, y así sucesivamente.</li>



    <li>No gestionamos la elegibilidad para el uso de productos por parte del cliente en casos en que la remuneración correspondiente a productos cuya remuneración se determina por períodos no se haya pagado antes de la fecha límite. Será responsabilidad del vendedor gestionar esto.</li>
    </ol>



    <h3>Artículo 19: Entrega y aceptación de productos con resultados tangibles</h3>



    <ol>
    <li>El vendedor de un producto con resultados tangibles deberá notificar inmediatamente al cliente a través de nuestro sitio web una vez que haya entregado el resultado o producto al cliente.</li>



    <li>El cliente que haya recibido el resultado o producto deberá notificar al vendedor el resultado de la aceptación del mismo dentro de los 7 días posteriores a la recepción, a través de nuestro sitio web. Sin embargo, el número de días desde la recepción puede acordarse individualmente entre el vendedor y el cliente en un rango de 1 a 7 días. En caso de un acuerdo individual, dicho acuerdo tendrá prioridad sobre el plazo de “dentro de los 7 días posteriores a la recepción”.</li>



    <li>Si el resultado de la aceptación es desfavorable, el vendedor deberá notificar al cliente a través de nuestro sitio web si acepta o no la evaluación desfavorable dentro de los 7 días siguientes a la notificación del cliente. Además, el cliente deberá notificar al vendedor rápidamente a través de nuestro sitio web las siguientes medidas a tomar, como si se permite una nueva entrega.</li>



    <li>En caso de que la entrega del resultado o producto se retrase más allá del plazo acordado, el vendedor deberá notificar inmediatamente al cliente de dicha demora a través de nuestro sitio web. Además, el cliente deberá notificar rápidamente al vendedor las siguientes medidas a tomar, como si se permite una extensión del plazo de entrega, a través de nuestro sitio web.</li>
    </ol>



    <h3>Artículo 20: Confirmación del tiempo de actividad real y aprobación de la finalización para productos sin resultados tangibles</h3>



    <ol>
    <li>El vendedor de un producto sin resultados tangibles deberá notificar inmediatamente al cliente a través de nuestro sitio web una vez que el producto haya sido completado.</li>



    <li>En el caso de productos sin resultados tangibles que requieran la confirmación del tiempo de actividad real, el vendedor y el cliente deberán acordar el tiempo de actividad real. El vendedor notificará al cliente dentro de los 7 días posteriores a esa confirmación el monto de la remuneración real calculado multiplicando el tiempo de actividad real por la tarifa por hora, a través de nuestro sitio web. El cliente deberá aprobar este monto dentro de los 7 días posteriores a la notificación. Inmediatamente después de la aprobación, el cliente notificará a la empresa el monto de la remuneración real a través de nuestro sitio web, y este monto se confirmará dentro de los 7 días posteriores a la notificación.</li>



    <li>En el caso de productos sin resultados tangibles que no requieran la confirmación del tiempo de actividad real, el cliente manifestará su intención de aprobar o no la finalización del producto dentro de los 7 días posteriores a la notificación mencionada en el apartado 1, a través de nuestro sitio web.</li>
    </ol>



    <h3>Artículo 21: En caso de que los resultados no sean aprobados en la inspección o si no hay aprobación de la finalización del producto</h3>



    <ol>
    <li>Cualquier disputa o diferencia de opinión entre el vendedor y el cliente sobre si los resultados del producto o el producto en sí han pasado la inspección o han sido completados será resuelta entre ambas partes. La empresa no asume ninguna responsabilidad en este asunto.</li>



    <li>Si el cliente no notifica la aprobación de los resultados del producto o del producto entregado por el vendedor, o no aprueba la finalización del producto del vendedor, la empresa, a su discreción, puede reembolsar la remuneración recibida al cliente en nombre del vendedor. El vendedor acuerda esto de antemano y renuncia al derecho de reclamar compensación por cualquier daño que le haya ocurrido debido a dicho reembolso.</li>



    <li>En caso de que se incurran tarifas de transferencia para el reembolso mencionado en el párrafo anterior, dichas tarifas serán cubiertas por el cliente.</li>
    </ol>



    <h3>Artículo 22: Obligaciones del Cliente, etc.</h3>



    <ol>
    <li>El cliente responderá a cualquier solicitud razonable de la empresa para informar sobre el estado de la provisión del producto.</li>



    <li>El cliente acuerda de antemano que la empresa puede proporcionar toda o parte de la información registrada al vendedor en la medida necesaria para que el vendedor pueda proporcionar el producto, y no presentará ninguna objeción a esto.</li>



    <li>En caso de que el vendedor dé permiso específico, si el cliente recibe el producto junto con sus hijos u otros terceros, tomará las medidas adecuadas para garantizar que dicho tercero siga las instrucciones del vendedor al recibir el producto y asumirá toda responsabilidad por las acciones de dicho tercero.</li>
    </ol>



    <h3>Artículo 23: Precauciones para el vendedor</h3>



    <ol>
    <li>Al proporcionar un producto, el vendedor debe cumplir con las pautas establecidas por separado por la empresa.</li>



    <li>El vendedor no llevará a cabo las siguientes acciones al ofrecer un producto. Si la empresa determina que el vendedor ha llevado a cabo acciones inapropiadas para este servicio, la empresa tiene el derecho de publicar dicho hecho en el servicio. El vendedor no presentará ninguna objeción a esto y la empresa no asumirá ninguna responsabilidad por los daños sufridos por el vendedor como resultado de dicha publicación.
    <ul>
    <li>(1) Actividades delictivas y otras acciones que causen molestias a terceros.</li>



    <li>(2) Ofrecer un producto que difiere significativamente del contenido del documento de definición del proyecto.</li>



    <li>(3) Realizar acciones con fines lucrativos distintos a la compensación acordada, o intentar proselitismo religioso.</li>



    <li>(4) Infringir los derechos humanos o cualquier otro derecho del cliente.</li>



    <li>(5) Exigir al cliente que califique el producto de una manera particular.</li>



    <li>(6) Cualquier otra acción que la empresa considere inapropiada para el servicio.</li>
    </ul>
    </li>



    <li>El vendedor debe proporcionar el producto al cliente de acuerdo con el contenido descrito en el documento de definición del proyecto.</li>



    <li>A menos que tenga el consentimiento del cliente, el vendedor debe proporcionar el producto él mismo y no puede subcontratar a terceros. Incluso si el vendedor obtiene el consentimiento del cliente para subcontratar a un tercero, el vendedor asume toda la responsabilidad por el producto.</li>



    <li>Si hay instrucciones de la empresa, el vendedor debe informar a la empresa sobre el contenido del documento de definición del proyecto y otros asuntos especificados por la empresa, de acuerdo con el período, el contenido y el formato requerido por la empresa.</li>
    </ol>



    <h3>Artículo 24: Tarifa por el uso del servicio</h3>



    <ol>
    <li>El vendedor pagará a la empresa una tarifa por el uso de este servicio (en adelante, “Tarifa por el uso del servicio”), que será el resultado de aplicar un 0% al monto total de la compensación pagada por el cliente (sin incluir el impuesto al consumo).</li>



    <li>En caso de que los productos entregados por el vendedor sean aprobados por el cliente durante la inspección o que el cliente apruebe la finalización del producto del vendedor, la empresa pagará al vendedor un monto liquidado, que se calculará restando la Tarifa por el uso del servicio del monto total de la compensación recibida del cliente. Los términos de pago de este monto liquidado se establecerán en el artículo 25.</li>
    </ol>



    <h3>Artículo 25: Método de pago de la suma liquidada</h3>



    <ol>
    <li>El pago de la suma liquidada según el apartado 2 del artículo 24 se realizará mediante transferencia bancaria a la cuenta bancaria registrada por el vendedor (en adelante, “cuenta bancaria registrada”).</li>



    <li>La transferencia de la suma liquidada no se realizará cada vez que el cliente haga un pago a la empresa, sino cuando el saldo pendiente a pagar a cada vendedor alcance un monto mínimo establecido por la empresa (“monto mínimo pagable”). La transferencia se llevará a cabo una vez que el vendedor haya solicitado una transferencia por un monto igual o superior al monto mínimo pagable, utilizando el método preestablecido.</li>



    <li>El monto que la empresa transferirá al vendedor será el monto solicitado menos las tarifas de transferencia bancaria aplicables.</li>



    <li>El plazo para la transferencia de la suma liquidada será el siguiente: si la solicitud de transferencia se realiza entre el 1 y el 10 de cada mes, la transferencia se realizará antes del día 15 del mismo mes. Si la solicitud se realiza entre el 11 y el 25, la transferencia se realizará antes del final del mismo mes. Si la solicitud se realiza entre el 26 y el final del mes, la transferencia se realizará antes del día 15 del mes siguiente.</li>



    <li>La información relacionada con el monto mínimo pagable, la cantidad de la transferencia y otros detalles relacionados con el pago se pueden consultar a través de la herramienta de gestión para cada vendedor.</li>



    <li>En caso de que haya un error en la cuenta bancaria registrada, el monto de la transferencia se realizará después de deducir las tarifas correspondientes por devolución.</li>



    <li>Si el saldo pendiente de la suma liquidada del vendedor es inferior al monto mínimo pagable, el vendedor no podrá solicitar la transferencia.</li>



    <li>Si un usuario registrado pierde su estatus de usuario registrado debido a la cancelación del registro o la retirada, se considerará que ha renunciado al saldo completo pendiente de la suma liquidada.</li>
    </ol>



    <h2>Capítulo 5: Oferta y Compra de Productos</h2>



    <h3>Artículo 26: Listado de Productos</h3>



    <ol>
    <li>Procedimiento de Oferta: El vendedor deberá seguir el procedimiento establecido por la compañía para ofrecer productos en este sitio.</li>



    <li>Productos Prohibidos para la Oferta: El vendedor reconoce y acepta de antemano que no podrá ofrecer productos relacionados con los siguientes puntos. Ofrecer productos que se ajusten a los siguientes será considerado una violación de estos términos, independientemente de si hubo intención o negligencia por parte del vendedor.
    <ul>
    <li>(1) Productos que violan la ley.</li>



    <li>(2) Productos diseñados principalmente para ser usados como armas o que podrían ser usados como tales.</li>



    <li>(3) Productos que infringen o podrían infringir los derechos de otros usuarios registrados (incluidas, pero no limitadas a, marcas falsas).</li>



    <li>(4) Productos obtenidos mediante actividades criminales.</li>



    <li>(5) Productos que son contrarios al orden público y la moral (incluidos pero no limitados a productos relacionados con adultos, productos obscenos, productos relacionados con la pornografía infantil).</li>



    <li>(6) Productos que requieren permisos legales para su venta.</li>



    <li>(7) Productos que podrían afectar la salud o el cuerpo humano.</li>



    <li>(8) Productos que, aunque sean uno solo, tienen su precio dividido y ofrecido en múltiples partes.</li>



    <li>(9) Productos que podrían deteriorarse durante el tiempo de provisión al cliente.</li>



    <li>(10) Órganos, sangre o similares del cuerpo humano.</li>



    <li>(11) Seres vivos.</li>



    <li>(12) Bienes robados.</li>



    <li>(13) Alcohol o productos relacionados.</li>



    <li>(14) Cualquier otro producto que la empresa considere inapropiado.</li>
    </ul>
    </li>



    <li>Contenidos Prohibidos en la Oferta (Texto, Imágenes, URL):
    <ul>
    <li>(1) Contenido que infringe o podría infringir los derechos de terceros, incluidos pero no limitados a derechos de autor, marcas registradas, privacidad, nombres y retratos.</li>



    <li>(2) Asuntos relacionados con la privacidad de otros.</li>



    <li>(3) Información que podría identificar a individuos.</li>



    <li>(4) Expresiones inapropiadas como difamación, calumnia, quejas o discursos discriminatorios.</li>



    <li>(5) Contenido que viola o podría violar las leyes y el orden público y la moral.</li>



    <li>(6) Contenido que es o podría ser contrario a los temas y objetivos de este servicio.</li>



    <li>(7) Contenido que dirige a sitios web externos que ofrecen servicios similares.</li>



    <li>(8) Cualquier otro contenido o expresión que la empresa considere inapropiado para este servicio.</li>
    </ul>
    </li>



    <li>Cumplimiento de las Leyes: El vendedor deberá cumplir con la Ley de Negocios de Artículos Usados, la Ley de Transacciones Comerciales Específicas, la Ley de Prevención de la Presentación Desleal de Premios y Regalos, la Ley de Prevención de la Competencia Desleal, la Ley de Marcas y la Ley de Derechos de Autor, entre otras.</li>



    <li>Violación de estos términos con respecto a la Oferta: Si la empresa determina que la oferta del vendedor viola estos términos o es inapropiada, la empresa puede anular cualquier compra relacionada con esa oferta a su discreción. La empresa no será responsable de ningún daño que pueda surgir para el vendedor debido a tales medidas.</li>



    <li>Exención de responsabilidad de la empresa: La empresa no será responsable de ningún daño que pueda surgir para el vendedor o el cliente debido a la oferta del vendedor.</li>
    </ol>



    <h3>Artículo 27: Compra de productos</h3>



    <ol>
    <li>Procedimiento de Compra:<br>El cliente realizará pedidos de acuerdo con los procedimientos establecidos por la empresa y con la intención de comprar.</li>



    <li>Intención de Compra y Otros:<br>El cliente no podrá realizar pedidos sin intención de comprar, con fines de reventa o lucro, o cualquier otro pedido que la empresa considere hecho con intenciones maliciosas.</li>



    <li>Prohibición de Comprar sus Propios Productos:<br>El vendedor no podrá comprar sus propios productos. Si el vendedor desea retirar un producto de la oferta, deberá seguir los procedimientos establecidos por la empresa.</li>



    <li>Exención de responsabilidad de la Empresa:<br>La empresa no será responsable de ningún daño causado al cliente o a terceros debido a los pedidos o compras realizados por el cliente.</li>
    </ol>



    <h3>Artículo 28: Pago y Ejecución de Transacciones</h3>



    <ol>
    <li>Establecimiento del Contrato de Compra-Venta:<br>El contrato de compra-venta de un producto específico se establecerá cuando el cliente complete el proceso de compra para dicho producto. Ni el vendedor ni el cliente podrán transferir, garantizar o disponer de otra manera los derechos y obligaciones que surjan del contrato de compra-venta a terceros.</li>



    <li>Fecha Límite de Pago y Costo de Envío:<br>Una vez establecido el contrato de compra-venta, el cliente deberá pagar la cantidad total del precio del producto por adelantado. El cliente pagará el precio total del producto y los costos de envío y cualquier otra tarifa mostrada en el sitio web de la empresa. El método de pago estará limitado a los que estén disponibles en el sitio web de la empresa.</li>



    <li>Envío:<br>El vendedor enviará el producto una vez que se haya completado el pago del cliente. El vendedor y el cliente acordarán los términos del envío entre ellos, y la empresa no será responsable de ningún daño que pueda surgir para el vendedor o el cliente en relación con el envío.</li>



    <li>Problemas con los Productos:<br>Si surgen problemas relacionados con los productos entre el vendedor y el cliente, deberán resolverlo entre ellos. La empresa responderá a preguntas de las partes en relación con la descripción de la situación y el estado del pago en el sitio web de la empresa.</li>



    <li>Cancelación y Defectos del Producto:<br>No se permite la cancelación después del pago del precio del producto en el uso de este servicio. Si el producto tiene defectos, difiere significativamente de su descripción o se daña durante el envío debido a un embalaje inadecuado, será responsabilidad del vendedor manejar devoluciones, reparaciones o intercambios con el cliente a expensas y responsabilidad del vendedor.</li>



    <li>Procedimientos de Pago:<br>El vendedor autoriza a la empresa a recibir en su nombre el precio del producto pagado por el cliente (incluyendo montos equivalentes pagados por procesadores de pagos o agentes de cobro).</li>



    <li>Cancelación del Contrato de Compra-Venta:<br>Aunque se establezca un contrato de compra-venta entre el vendedor y el cliente, la empresa puede cancelar dicho contrato si el cliente no paga o retrasa el pago del precio total del producto y los costos de envío, o si el vendedor no envía el producto, o bajo otras circunstancias que la empresa considere necesarias.</li>



    <li>Exención de responsabilidad de la Empresa:<br>La empresa no será responsable de ningún daño que ocurra al vendedor o al cliente debido al uso de información de pago o de instituciones financieras ingresadas en este servicio por el vendedor o el cliente, o debido a la precisión o inexactitud de la información ingresada, o debido a la cancelación o no cancelación del contrato de compra-venta por parte de la empresa.</li>
    </ol>



    <h2>Capítulo 6: Disposiciones Generales</h2>



    <h3>Artículo 29: Registro de Actividades</h3>



    <ol>
    <li>El vendedor podrá publicar en el sitio web de la empresa evaluaciones (en adelante, “reseñas”) dirigidas a los clientes que hayan comprado sus productos.</li>



    <li>El cliente podrá publicar en el sitio web de la empresa reseñas sobre el producto adquirido y su vendedor correspondiente.</li>



    <li>Para la publicación de reseñas, se aplicarán las disposiciones desde el párrafo 3 hasta el párrafo 7 del Artículo 7.</li>
    </ol>



    <h3>Artículo 30: Actividades Prohibidas</h3>



    <ol>
    <li>Los usuarios registrados no deberán realizar, ya sea intencionalmente o por negligencia, cualquiera de las actividades siguientes:
    <ol>
    <li>Infringir los derechos de propiedad intelectual, derecho al retrato, privacidad, honor o cualquier otro derecho o interés de la empresa, otros usuarios registrados, operadores de SNS externos o terceros (incluyendo actos que resulten indirectamente en tal infracción).</li>



    <li>Anunciar o guiar hacia actividades criminales o conductas que podrían llevar a actividades criminales o que violen el orden público o la moralidad.</li>



    <li>Transmitir información obscena o perjudicial para menores.</li>



    <li>Usar el servicio con el objetivo de relaciones amorosas o actividades sexuales.</li>



    <li>Utilizar información personal de otros usuarios registrados adquirida a través del servicio para propósitos diferentes a la transacción de productos.</li>



    <li>Designar lugares fuera de la vista pública como lugares de entrega de productos sin necesidad específica.</li>



    <li>Realizar actividades que requieran licencias o aprobaciones sin obtenerlas.</li>



    <li>Enviar información que contenga virus informáticos u otros programas informáticos dañinos.</li>



    <li>Realizar operaciones no autorizadas en computadoras de la empresa, otros usuarios registrados u operadores de SNS externos.</li>



    <li>Expresar discriminación basada en raza, origen étnico, creencias, género, estatus social, lugar de residencia, características físicas, historial médico, educación, propiedad e ingresos.</li>



    <li>Realizar actos vulgares, dañinos, de mal gusto o revelar información que cause disgusto a otros.</li>



    <li>Revelar información relacionada con la pornografía, prostitución o actividades similares.</li>



    <li>Acoso, difamación o cualquier otra acción que pueda causar daño emocional o económico a otros usuarios, la empresa o terceros.</li>



    <li>Publicar documentos de definición de proyectos con el objetivo de obtener beneficios distintos a las recompensas.</li>



    <li>Suplantar a otra persona mientras se usa el servicio.</li>



    <li>Recopilar o duplicar contenido o datos en el servicio sin el consentimiento previo por escrito de la empresa.</li>



    <li>Obtener información de otros usuarios registrados para fines distintos al uso del servicio.</li>



    <li>Manipular de cualquier forma la información utilizada en el servicio.</li>



    <li>Transmitir datos que superen la cantidad de espacio permitido por la empresa.</li>



    <li>Realizar transacciones sin usar el servicio.</li>



    <li>Ofrecer productos que incluyan información personal sin el consentimiento del supervisor de la información.</li>



    <li>Actos que puedan interferir con la operación del servicio por la empresa.</li>



    <li>Cualquier otro acto que la empresa considere inapropiado.</li>
    </ol>
    </li>



    <li>La empresa puede eliminar total o parcialmente la información enviada por un usuario registrado que infrinja cualquiera de las disposiciones anteriores, sin previo aviso al usuario registrado. La empresa no será responsable de los daños sufridos por el usuario registrado debido a estas acciones.</li>



    <li>La prohibición en la sección 1 (20) se extiende hasta 2 años después de que el usuario registrado se dé de baja del servicio.</li>



    <li>Las actividades en la sección 1 (20)(a)(b) se permiten si el usuario registra y paga una compensación de 400,000 pesos antes de realizar la actividad.</li>



    <li>Si un usuario registrado realiza una transacción en la sección 1 (20) sin seguir el procedimiento anterior, deberá pagar una penalización como se describe.</li>



    <li>Está prohibido utilizar el servicio para transacciones, participación o venta de productos/servicios relacionados directa o indirectamente con regiones que la empresa considere de alto riesgo, como Cuba, Irán, Corea del Norte, Siria, Crimea, Donétsk y Lugansk.</li>
    </ol>



    <h3>Artículo 31: Interrupción del Servicio, etc.</h3>



    <ol>
    <li>La Compañía podrá suspender o interrumpir todo o parte del uso de este servicio sin previo aviso a los usuarios registrados en cualquiera de los siguientes casos: (1) Cuando se realicen inspecciones o trabajos de mantenimiento regulares o de emergencia en el sistema informático relacionado con este servicio. (2) Cuando el ordenador, las líneas de comunicación, etc., se detengan debido a un accidente. (3) Cuando la operación de este servicio se vuelva imposible debido a fuerzas mayores como incendios, cortes de energía, desastres naturales, etc. (4) Cuando surjan problemas con servicios de SNS externos, como interrupciones o suspensiones del servicio, interrupciones en la colaboración con este servicio o cambios en las especificaciones. (5) En otros casos en que la Compañía considere necesario suspender o interrumpir el servicio.</li>



    <li>La Compañía podrá terminar la prestación de este servicio a su discreción. En este caso, la Compañía notificará previamente a los usuarios registrados.</li>



    <li>La Compañía no asumirá ninguna responsabilidad por los daños sufridos por los usuarios registrados como resultado de las medidas tomadas por la Compañía en virtud de este artículo.</li>
    </ol>



    <h3>Artículo 32: Almacenamiento de Información</h3>



    <p>La empresa no tiene la obligación de almacenar mensajes u otra información enviada o recibida por los usuarios registrados, y se reserva el derecho de eliminar dicha información en cualquier momento, incluso si ha sido almacenada durante un período determinado de tiempo por razones operativas. Además, la empresa no asume ninguna responsabilidad por los daños causados a los usuarios registrados como resultado de las medidas tomadas en virtud de esta cláusula.</p>



    <h3>Artículo 33: Precauciones respecto a las Descargas y otros</h3>



    <p>Los usuarios registrados deben ejercer el debido cuidado al iniciar el uso de este servicio o durante su uso, especialmente al descargar o instalar software desde el sitio web de la empresa en sus computadoras u otros dispositivos. El usuario registrado debe tomar todas las precauciones necesarias para evitar la eliminación o alteración de la información almacenada, o el fallo o daño del equipo. La empresa no asume ninguna responsabilidad por los daños sufridos por el usuario registrado en relación con lo anterior.</p>



    <h3>Artículo 34: Propiedad de los Derechos</h3>



    <ol>
    <li>Todos los derechos de propiedad y derechos de propiedad intelectual relacionados con el sitio web de la empresa y este servicio pertenecen a la empresa. La licencia para usar este servicio, basada en el registro de usuario según este contrato, no implica una licencia para usar los derechos de propiedad intelectual de la empresa. Los usuarios registrados no deben realizar ninguna acción que pudiera infringir los derechos de propiedad intelectual de la empresa, por cualquier motivo (esto incluye, pero no se limita a, desensamblar, descompilar o realizar ingeniería inversa en programas de computadora).</li>



    <li>Con respecto a los textos, imágenes, videos y otros datos que los usuarios registrados hayan publicado o transmitido en el sitio web de la empresa o en este servicio, la empresa tiene el derecho de usarlos libremente y sin costo alguno (esto incluye, pero no se limita a, la reproducción, modificación, y la re-licencia a terceros).</li>
    </ol>



    <h3>Artículo 35: Retirada</h3>



    <ol>
    <li>Los usuarios registrados pueden cancelar el contrato de uso y retirarse en cualquier momento. En tales casos, el usuario registrado deberá solicitar la retirada siguiendo el procedimiento especificado por la empresa y, si hay pagos pendientes, deberá liquidarlos inmediatamente.</li>



    <li>Si el usuario registrado que solicita la retirada tiene productos que han sido comprados pero no entregados, la retirada se llevará a cabo después de completar la entrega de dichos productos. Además, si la retirada del servicio causa inconvenientes en el momento de la solicitud de retirada, el usuario deberá completar las medidas necesarias antes de proceder con la retirada, y los términos de este contrato se aplicarán hasta entonces.</li>



    <li>La empresa no asume ninguna responsabilidad por los daños incurridos por el usuario registrado debido a la retirada.</li>



    <li>La empresa no tiene la obligación de continuar almacenando ninguna información relacionada con el usuario registrado que se haya retirado, incluida la información personal, descripciones de proyectos, productos, reseñas, etc.</li>
    </ol>



    <h3>Artículo 36: Cancelación del Registro, etc.</h3>



    <ol>
    <li>La empresa podrá, sin previo aviso o demanda, suspender temporalmente el uso del servicio para el usuario registrado, o cancelar su registro como usuario registrado, si se encuentra en alguna de las siguientes situaciones: (1) Violación de cualquier término de estos términos y condiciones. (2) Se descubre que la información registrada es falsa. (3) Uso del servicio de una manera o con un propósito que podría causar daño a la empresa, a otros usuarios registrados, a proveedores externos de SNS o a terceros. (4) Violación de los términos de uso de SNS externos o cualquier otra razón por la cual el usuario registrado no puede recibir el servicio o la colaboración de un proveedor externo de SNS. (5) Interferencia con la operación del servicio por cualquier medio. (6) Suspensión del pago, insolvencia, o inicio de procedimientos de quiebra, reorganización civil, reestructuración corporativa, liquidación especial o procedimientos similares. (7) Aceptar o emitir cheques o letras de cambio que resultan en falta de pago. (8) Ser objeto de medidas como embargo, embargo preventivo, medidas provisionales, ejecución forzada o subasta. (9) Atrasos en el pago de impuestos y otros gravámenes públicos. (10) Fallecimiento o estar bajo tutela, curatela o asistencia judicial. (11) Ausencia de uso del servicio durante más de un año sin respuesta a las comunicaciones de la empresa. (12) Cumplimiento de las circunstancias especificadas en el artículo 4, sección 5. (13) Cualquier otro caso en el que la empresa considere que no es apropiado continuar con el registro del usuario registrado.</li>



    <li>Si el usuario registrado cae en alguna de las situaciones mencionadas en el apartado anterior, perderá automáticamente el beneficio del término para todas las deudas que tenga con la empresa, y deberá pagar todas las deudas a la empresa de inmediato.</li>



    <li>La empresa no asume ninguna responsabilidad por los daños causados al usuario registrado por las acciones tomadas en virtud de este artículo.</li>



    <li>En caso de que se cancele el registro del usuario registrado en virtud de este artículo, el usuario registrado deberá, siguiendo las instrucciones de la empresa, devolver, destruir o de otra manera deshacerse del software, manuales y otros materiales relacionados con el servicio que haya recibido de la empresa.</li>
    </ol>



    <h3>Artículo 37: Renuncia de Garantía y Descargo de Responsabilidad</h3>



    <ol>
    <li>La compañía no ofrece ninguna garantía en relación con la legalidad, exactitud, idoneidad, veracidad, fiabilidad o utilidad de los productos proporcionados por los vendedores, y no asume ninguna responsabilidad por los problemas entre los vendedores y los clientes. Además, incluso si los usuarios registrados obtienen información sobre este servicio o sobre otros usuarios registrados directa o indirectamente de nuestra compañía, no ofrecemos ninguna garantía más allá de lo estipulado en estos términos.</li>



    <li>La provisión de productos por parte del vendedor y la recepción de productos por parte del cliente son responsabilidad exclusiva de los usuarios registrados, y la compañía no tiene la obligación de supervisar esto y no asume ninguna responsabilidad por la adecuada provisión de los productos. Todos los costos y riesgos asociados con la provisión o recepción de productos serán asumidos por los usuarios registrados. La compañía no garantiza que el vendedor o el cliente no causen daño mutuo. Asegúrese siempre de garantizar un entorno seguro antes de proporcionar o recibir productos.</li>



    <li>Este servicio puede integrarse con servicios externos de redes sociales, pero no garantizamos tal integración. La compañía no asume ninguna responsabilidad si no se puede establecer la integración con servicios externos de redes sociales.</li>



    <li>Si este servicio está integrado con servicios externos de redes sociales, los usuarios registrados deberán cumplir con los términos de uso externos a su propio costo y riesgo. La compañía no asume ninguna responsabilidad si surgen disputas entre los usuarios registrados y los operadores de los servicios externos de redes sociales.</li>



    <li>Los usuarios registrados deben investigar, a su propio costo y responsabilidad, si el uso de este servicio infringe alguna ley aplicable, reglas internas de asociaciones industriales, etc. La compañía no garantiza de ninguna manera que el uso de este servicio por parte de los usuarios registrados cumpla con leyes o regulaciones aplicables.</li>



    <li>En cuanto a las transacciones, comunicaciones, disputas, etc., que surjan entre los usuarios registrados y otros usuarios registrados, operadores de servicios externos de redes sociales u otras terceras partes relacionadas con este servicio o nuestro sitio web, estos serán manejados y resueltos bajo la responsabilidad de los usuarios registrados. La compañía no asume ninguna responsabilidad en estos asuntos.</li>



    <li>La compañía no asume ninguna responsabilidad por compensar los daños sufridos por los usuarios registrados debido a la interrupción, suspensión, terminación, inutilidad o cambios en la provisión de este servicio; la eliminación o pérdida de mensajes o información de los usuarios registrados; la cancelación del registro de usuarios registrados; la pérdida de datos o fallos en el equipo debido al uso de este servicio.</li>



    <li>Incluso si hay enlaces desde nuestro sitio web a otros sitios web o desde otros sitios web a nuestro sitio web, la compañía no asume ninguna responsabilidad por sitios web que no sean nuestro sitio web ni por la información obtenida desde estos.</li>
    </ol>



    <h3>Artículo 38: Resolución de conflictos y compensación por daños</h3>



    <ol>
    <li>El usuario registrado debe compensar a la empresa por los daños (incluidos los honorarios de abogados) causados a la empresa como resultado de una violación de estos términos y condiciones o por el uso del servicio.</li>



    <li>Si un usuario registrado recibe reclamos de otros usuarios registrados, proveedores externos de redes sociales u otros terceros relacionados con el servicio, o si surge una disputa con dichas partes, el usuario registrado debe notificar de inmediato a la empresa sobre el contenido de tales reclamos o disputas. Además, el usuario registrado deberá manejar dichos reclamos o disputas a su costo y responsabilidad, informando a la empresa sobre el progreso y los resultados según lo solicitado por la empresa.</li>



    <li>Si la empresa recibe reclamos de terceros, otros usuarios registrados, proveedores externos de redes sociales u otros terceros debido a infracciones de derechos u otras razones relacionadas con el uso del servicio por parte del usuario registrado, este último deberá compensar a la empresa por las cantidades que la empresa haya sido obligada a pagar a tales terceros en relación con tales reclamos (incluidos los honorarios de abogados).</li>



    <li>La empresa no será responsable en ningún caso por los daños sufridos por el usuario registrado en relación con el uso del servicio.</li>
    </ol>



    <h3>Artículo 39: Confidencialidad</h3>



    <ol>
    <li>En estos términos y condiciones, “información confidencial” se refiere a toda la información relacionada con la tecnología, operaciones, finanzas, organización y otros asuntos de la empresa que el usuario registrado haya obtenido o conocido a través de la entrega, divulgación escrita, verbal o mediante medios de registro, en relación con el contrato de uso o el servicio. Sin embargo, se excluyen de esta definición: (1) la información que ya era de conocimiento público al momento de la entrega o divulgación por parte de la empresa, (2) la información que se convierte en conocimiento público después de la entrega o divulgación por la empresa, debido a razones ajenas a la negligencia del usuario registrado, (3) la información obtenida legalmente sin la obligación de confidencialidad por parte de terceros autorizados a entregar o divulgar, (4) la información desarrollada independientemente sin recurrir a la información confidencial, (5) la información que ha sido confirmada como no confidencial por escrito por parte de la empresa.</li>



    <li>El usuario registrado utilizará la información confidencial solo con el propósito de utilizar el servicio y no divulgará, proporcionará ni filtrará la información confidencial de la empresa a terceros sin el consentimiento por escrito de la empresa.</li>



    <li>A pesar de lo establecido en la sección 2, el usuario registrado puede revelar información confidencial en base a órdenes, solicitudes o requerimientos legales, judiciales o gubernamentales. Sin embargo, en caso de recibir tales órdenes, solicitudes o requerimientos, el usuario registrado deberá notificar inmediatamente a la empresa sobre ello.</li>



    <li>Si el usuario registrado desea duplicar documentos o medios de registro magnéticos que contengan información confidencial, deberá obtener el consentimiento previo por escrito de la empresa y manejará copias duplicadas de acuerdo con la sección 2.</li>



    <li>Si la empresa lo solicita en cualquier momento, el usuario registrado deberá devolver o desechar de inmediato y sin demora la información confidencial, así como los documentos u otros medios de registro que contengan información confidencial y todas sus copias.</li>
    </ol>



    <h3>Artículo 40: Período de vigencia</h3>



    <p>El contrato de uso entrará en vigencia para el usuario registrado en la fecha en que se complete el registro de acuerdo con el Artículo 4, y permanecerá en vigor entre la empresa y el usuario registrado hasta la fecha más temprana de cualquiera de las siguientes: la fecha en que el usuario registrado se dé de baja, la fecha en que se cancele el registro del usuario registrado o la fecha en que finalice la prestación del servicio.</p>



    <h3><br>Artículo 41: Modificación de estos términos y condiciones</h3>



    <ol>
    <li>La empresa se reserva el derecho de modificar libremente el contenido del servicio.</li>



    <li>La empresa se reserva el derecho de modificar estos términos y condiciones (que incluyen las reglas y disposiciones relacionadas con el servicio publicadas en el sitio web de la empresa, y que en adelante se denominarán de manera similar en esta sección). Si la empresa realiza cambios en estos términos y condiciones y el usuario registrado utiliza el servicio después de dichos cambios, o si el usuario registrado no solicita la cancelación de su registro dentro del período especificado por la empresa, se considerará que el usuario registrado ha aceptado las modificaciones en estos términos y condiciones.</li>
    </ol>



    <h3>Artículo 42: Comunicaciones/Notificaciones</h3>



    <ol>
    <li>Las notificaciones o comunicaciones relacionadas con la modificación de estos términos y condiciones u otros asuntos por parte de la empresa al usuario registrado se realizarán según los métodos especificados por la empresa.</li>



    <li>Si surge algún problema relacionado con la invasión de la privacidad, difamación u otros problemas en relación con el contenido mostrado en el servicio, si se descubre que alguien está violando estos términos y condiciones, o si necesita hacer consultas a la empresa, comuníquese a través del formulario de contacto.</li>
    </ol>



    <h3>Artículo 43: Cesión de la posición contractual y otros en virtud del contrato de uso</h3>



    <ol>
    <li>El usuario registrado no puede ceder, transferir, garantizar, disponer o de otra manera transferir a terceros su posición contractual o los derechos y obligaciones basados en estos términos y condiciones, sin el consentimiento previo por escrito de la empresa.</li>



    <li>En caso de que la empresa transfiera su negocio relacionado con el servicio a otra empresa, la empresa podrá transferir la posición contractual en virtud del contrato de uso, así como los derechos, obligaciones y la información del cliente, incluida la información de registro del usuario, al adquirente en la transferencia del negocio. El usuario registrado acepta de antemano esta transferencia en relación con dicha transferencia del negocio. Además, en este artículo, la transferencia del negocio incluirá no solo la transferencia comercial normal, sino también cualquier caso en el que el negocio se divida, traspase u ocurra cualquier otro tipo de transferencia.</li>
    </ol>



    <h3>Artículo 44: Acuerdo completo</h3>



    <p>Estos términos y condiciones constituyen un acuerdo completo entre la empresa y el usuario registrado con respecto a los asuntos incluidos en estos términos y condiciones, y prevalecen sobre cualquier acuerdo, declaración o comprensión previa entre la empresa y el usuario registrado en relación con los asuntos incluidos en estos términos y condiciones, ya sea de forma verbal o escrita.</p>



    <h3>Artículo 45: Divisibilidad</h3>



    <p>Si alguna disposición de estos términos y condiciones o parte de ella se considera inválida o inaplicable en virtud de la ley de contratos de consumidores u otras leyes aplicables, la parte restante de estos términos y condiciones y la parte restante de la disposición considerada inválida o inaplicable seguirán siendo válidas y efectivas en su totalidad. En tal caso, la empresa y el usuario registrado harán los esfuerzos necesarios para modificar la disposición inválida o inaplicable en la medida necesaria para que tenga efecto válido y ejecutable, asegurando que logre un efecto legal y económico equivalente a la intención de la disposición inválida o inaplicable en la medida permitida por la ley.</p>



    <h3>Artículo 46: Cláusula de supervivencia</h3>



    <ol>
    <li>Cada disposición de estos términos y condiciones continuará siendo válida y efectiva después de la terminación del contrato de uso en relación con los hechos ocurridos antes de la terminación del contrato de uso. Sin embargo, en relación con el Artículo 39, dicha disposición seguirá siendo válida durante un período de 5 años después de la terminación del contrato de uso.</li>
    <li>En relación con los productos que el cliente ya haya comprado y que estén en relación con el contrato de uso en el momento de la terminación del mismo, el contrato de uso seguirá siendo válido y las disposiciones de estos términos y condiciones se aplicarán en la medida necesaria.</li>
    <li>Las disposiciones del Artículo 30, párrafo 1 (20), y los párrafos 3, 4 y 5 continuarán siendo válidas y efectivas incluso después de la terminación del contrato de uso. Sin embargo, esto no se aplica si la empresa ha discontinuado el servicio (incluyendo cualquier servicio sucesor).</li>
    </ol>
    <h3>Artículo 47: Ley aplicable y jurisdicción</h3>
    <p>La ley aplicable a estos términos y condiciones será la ley de México, y para todas las disputas que surjan o estén relacionadas con estos términos y condiciones, se acuerda expresamente que el tribunal del distrito de la Ciudad de México será el tribunal exclusivo de primera instancia con jurisdicción exclusiva.</p>
    <h3>Artículo 48: Resolución por acuerdo</h3>
    <p>La ley aplicable a estos términos y condiciones será la ley de México, y para todas las disputas que surjan o estén relacionadas con estos términos y condiciones, se acuerda expresamente que el tribunal del distrito de la Ciudad de México será el tribunal exclusivo de primera instancia con jurisdicción exclusiva.</p>
    <p>En caso de que surja ambigüedad en la interpretación de cuestiones no contempladas en estos términos y condiciones o en la interpretación de los mismos, la empresa y el usuario registrado se comprometen a resolver rápidamente dichos problemas mediante consultas mutuas de buena fe y de acuerdo con el principio de buena fe y lealtad.</p>
    <p class="right-align">Disposición final</p>
    <p class="right-align">Establecido y en vigor a partir del 5 de septiembre de 2023.</p>
  </div>
</div>
