.service-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0;
}

.service-show-item {
  padding: 30px;
  background-color: white;
  border: 1px solid #cbd5d5;
  margin-bottom: 30px; /* spacing between elements */
  border-radius: 5px;
}

/* Your previous media query is great! */
@media (max-width: 767px) {
  .row {
    flex-direction: column-reverse;
  }
}
