/* users/show ================================ */
.user img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

/* users/orders, users/sales ================================ */
.turbo_frame_content {
  font-size: 12px;
  display: block; /* Makes each element appear on a new line */
}
