<div class="main users-new">
  <div class="container">
    <div class="form-heading">Iniciar sesión</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_tag("/login") do %>
          <h5>Correo electrónico</h5>
          <input name="email" value="<%= @email %>">
          <h5>Contraseña</h5>
          <input type="password" name="password" value="<%= @password %>">
          <input type="submit" value="Iniciar">
        <% end %>
      </div>
    </div>
  </div>
</div>
