<div class="main top-main">
  <div class="top-mainVisual">
    <div class="top-mainVisual__container">
      <div class="top-message">
        <h2>Mercado de Habilidades y Servicios</h2>
        <p>Es posible comprar y vender tus habilidades y servicios.</p>
        <%= link_to "Registrar", "/signup", class: "buttons__main" %>
      </div>
    </div>
  </div>
</div>
