<div class="main posts-show">
  <div class="container">
    <h1 class="form-heading">Pedido Completada</h1>
    <div class="form-001">
      <p>Su pedido ha sido procesado exitosamente.</p>
      <%= link_to "Ver tus pedidos", orders_user_path(current_user), class: "button-004" %>
    </div>
  </div>
</div>
