<html>
  <head>
    <!-- 文字コードUTF-8とコンテンツタイプを指定するメタタグ -->
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado/a <%= @seller.name %>,</p>
    <p>Le informamos que se ha registrado un nuevo pedido en Olumeca.</p>
    <p>Detalle del pedido:</p>
    <ul>
      <li>Nombre del producto: <%= sale.service.title %></li>
      <li>Comprador/a: <%= sale.buyer.name %></li>
    </ul>
    <p>Puede revisar el detalle de sus ventas en el siguiente <%= link_to 'enlace', user_sales_path(@seller.id) %>.</p>
    <p>Atentamente,</p>
    <p>Equipo de Olumeca</p>
  </body>
</html>
