Estimado/a <%= @buyer.name %>,
<% if @order.accepted? %>
  <p>Nos complace informarle que su pedido en Olumeca ha sido aceptado.</p>
<% else %>
  <p>Lamentablemente, su pedido en Olumeca ha sido rechazado.</p>
<% end %>
<p>A continuación, le presentamos los detalles de su pedido:</p>
<ul>
  <li>Nombre del producto: <%= order.service.title %></li>
  <li>Vendedor/a: <%= order.service.user.name%></li>
</ul>
<p>Puede revisar todos sus pedidos en Olumeca a través del siguiente <%= link_to 'enlace', user_orders_path(@buyer) %>.</p>
Atentamente,
Equipo de Olumeca
