Estimado/a <%= @buyer.name %>,

<% if @order.accepted? %>
    <p>Nos complace informarle que su pedido en Olumeca ha sido aceptado.</p>
<% else %>
    <p>Lamentablemente, su pedido en Olumeca ha sido rechazado.</p>
<% end %>

<p>A continuación, le presentamos los detalles de su pedido:</p>
<ul>
    <li>Nombre del producto: <%= order.service.title %></li>
    <li>Vendedor/a: <%= order.service.user.name%></li>
</ul>

<%# 完了 %><%# [優先度: 中] 環境による分岐は環境によっては起きる不具合の発見が遅れることになり、好ましくありません。hogehoge_urlなどのヘルパーの利用を検討して下さい。(https://railsguides.jp/routing.html)%>
<%# 完了 %><%# [優先度: 中] link_toの利用を検討してください %>
<p>Puede revisar todos sus pedidos en Olumeca a través del siguiente <%= link_to 'enlace', user_orders_path(@buyer) %>.</p>

Atentamente,
Equipo de Olumeca
