<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado/a <%= @seller.name %>,</p>
    <p>Le informamos que se ha registrado un nuevo pedido en Olumeca.</p>
    <p>Detalle del pedido:</p>
    <ul>
        <li>Nombre del producto: <%= sale.service.title %></li>
        <li>Comprador/a: <%= sale.buyer.name %></li>
    </ul>

    <%# 完了 %><%# [優先度: 中] 環境による分岐は環境によっては起きる不具合の発見が遅れることになり、好ましくありません。hogehoge_urlなどのヘルパーの利用を検討して下さい。(https://railsguides.jp/routing.html)%>
    <%# 完了 %><%# [優先度: 中] link_toの利用を検討してください %>
    <p>Puede revisar el detalle de sus ventas en el siguiente <%= link_to 'enlace', user_sales_path(@seller.id) %>.</p>

    <p>Atentamente,</p>
    <p>Equipo de Olumeca</p>
  </body>
</html>
