<html>
  <head>
    <!-- 文字コードをUTF-8に設定 -->
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado/a <%= @buyer.name %>,</p>
    <% if @order.accepted? %>
      <p>Nos complace informarle que su pedido en Olumeca ha sido aceptado.</p>
    <% else %>
      <p>Lamentablemente, su pedido en Olumeca ha sido rechazado.</p>
    <% end %>
    <p>Detalles de su pedido:</p>
    <ul>
      <li>Nombre del producto: <%= order.service.title %></li>
      <li>Vendedor/a: <%= @order.service.user.name %></li>
    </ul>
    <p>Puede revisar sus pedidos en Olumeca a través del siguiente <%= link_to 'enlace', user_orders_url(@buyer) %>.</p>
    <p>Atentamente,</p>
    <p>Equipo de Olumeca</p>
  </body>
</html>
