.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form-error-body {
  padding: 30px 30px 0px 30px;
}


.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form input[type="submit"] {
  background-color: #13b1c0;
  font-size: 12px;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: auto;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.field {
  margin-bottom: 20px;  /* フィールドの下部に20pxのマージンを追加 */
}

.actions {
  margin-top: 20px;  /* actionsの上部に20pxのマージンを追加 */
}

.form-001 {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.form-001 p {
  padding-bottom: 10px;
}
