.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* カード間のスペース */
  justify-content: center; /* カードを中央に揃える */
  padding: 0 16px; /* コンテナの左右にスペースを追加 */
}

.card {
  flex-basis: calc(
    33.333% - 16px
  ); /* カードの幅をコンテナの33.333%に、gapを考慮して調整 */
  width: 300px;
  height: 370px;
  max-width: 100%; /* カードの最大幅を100%に設定 */
}

.full-width {
  width: 100%;
}

@media (max-width: 1200px) {
  .card {
    flex-basis: calc(33% - 16px); /* 3カード/行を想定 */
  }
}

@media (max-width: 767px) {
  .card {
    flex-basis: calc(50% - 16px); /* 2カード/行を想定 */
  }
}

@media (max-width: 480px) {
  .card {
    flex-basis: 100%; /* 1カード/行を想定 */
  }
}
