/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

dd, dl, dt {
  margin: 0;
  padding: 0x;
}

/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  background-color: #ffffff;
  margin: 0;
  /* min-height: 1vh; */
}

.main {
  /*position: absolute;*/
  padding-top: 30px;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}

.container {
  min-height: 100vh;
  max-width: 600px;
  margin: 60px auto 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  clear: both;
}

/* ヘッダー ================================ */
header {
  height: 64px;
  position: fixed;  /* この行を変更 */
  top: 0;           /* この行を追加 */
  left: 0;          /* この行を追加 */
  z-index: 1;
  width: 100%;
  background-color: #ffffff; /* この行を追加: 白色の背景を設定 */
  border-bottom: 1px solid #e9eef1;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: rgb(0, 0, 0);
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  padding-left: 15px;
  list-style-type: none;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

@media (max-width: 600px) {
  .header-menus li {
     font-size: 10px;
     padding-left: 10px;
  }

  .header-menus a {
     font-size: 11px;
  }

  .header-menus input[type="submit"] {
     font-size: 11px;
  }
}

/* top ================================ */
.top-main {
  padding: 0;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.top-message {
  position: relative;
}

.top-main h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
}

.top-main h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
}

.top-mainVisual {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f5f8fa;
  height: auto;
}

.top-mainVisual__container .left {
  width: 50%;
}

.top-mainVisual__container .right {
  flex: 1;
  text-align: right;
}

@media (max-width: 600px) {
  .top-mainVisual__container .right {
    display: none;
  }

  .top-mainVisual__container .left {
    display: flex;            /* Flexboxを有効に */
    flex-direction: column;   /* 子要素を縦に並べる */
    justify-content: center;  /* 子要素をコンテナの中央に配置（縦方向） */
    align-items: center;       /* 子要素をコンテナの開始位置に配置（横方向） */
    width: 100%;               /* コンテナの幅を50%に設定 */
  }
}

.top-mainVisual__container .right img {
  max-width: 90%;
}

.top-mainVisual p {
  font-size: 24px;
  margin-bottom: 10px;
}

.top-mainVisual__container {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-bottom: 80px;
}

.top-newServices {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f5f8fa;
  height: auto;
}

.top-newServices__container {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.top-title {
  text-align: center;
  padding-bottom: 20px;
}

.top-main-button {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  padding-bottom: 20px;
}


.inner, .inner_small, .mainview {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.noflex {
  display: block!important;
}

.top-main-about-service {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: white;
  height: auto;
}

.top-main-about-service__container {
  max-width: 960px;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_service__list {
  margin-top: 30px;
  justify-content: space-between;
  align-items: baseline;
}

.about_service__list_item {
  width: 30%;
}

@media (max-width: 600px) {
  .about_service__list {
    flex-direction: column; /* 画面サイズが768px以下になると、アイテムを縦に並べ替え */
    align-items: center; /* 中央揃え */
  }

  .about_service__list_item {
    width: 80%; /* 各アイテムはコンテナの80%の幅を占める */
    margin-bottom: 20px; /* アイテムの下にスペースを追加 */
  }
}

.flexbox {
  display: flex;
}

.normal-size-image {
  width: 100%;  /* 画像をコンテナの幅に合わせます。 */
  max-width: 300px;  /* 最大幅を300pxに制限します。 */
  height: auto;  /* 画像のアスペクト比を保持します。 */
  display: block;  /* 画像をブロック要素として扱います。 */
  margin: 0 auto;  /* 上下の余白は0、左右の余白はautoで画像を中央に配置します。 */
}

.about_service__list_item_head {
  margin-top: 32px;
  color: #13b1c0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.about_service__list_item_body {
  margin-top: 24px;
}

.c-serviceStep_flow {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

@media only screen and (max-width: 600px) {
  .c-serviceStep_flow {
    flex-direction: column;
    align-items: center;
  }
}

.c-serviceFlow-exhibitor {
  width: 340px;
  padding-right: 30px;
}

.c-serviceFlow {
  width: auto;
  position: relative;
  margin-bottom: 60px;
}

.c-serviceFlow_title {
  color: #333;
  font-size: 34px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.c-serviceFlow_text {
  padding-right: 30px;
}

.c-serviceFlow_icon {
  margin-right: 8px;
}

.top-main-buyer {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #f4f9e9;
  height: auto;
}


.top-main-buyer__container {
  max-width: 960px;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-main-seller {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #e9f6fc;
  height: auto;
}

.top-main-seller__container {
  max-width: 960px;
  margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-registar {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f5f8fa;
  height: auto;
}

.top-registar__container {
  max-width: 960px;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form-error-body {
  padding: 30px 30px 0px 30px;
}


.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form input[type="submit"] {
  background-color: #13b1c0;
  font-size: 12px;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: auto;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.field {
  margin-bottom: 20px;  /* フィールドの下部に20pxのマージンを追加 */
}

.actions {
  margin-top: 20px;  /* actionsの上部に20pxのマージンを追加 */
}

.form-001 {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.form-001 p {
  padding-bottom: 10px;
}


/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: fixed;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/* Button ================================ */

.whatsapp-button {
  color: white;
  display: inline-block;
  align-items: center;
  background-color: #25D366;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  width: 350px;
  text-align: center;
  transition: background-color 0.3s;
}

.whatsapp-button:hover {
  background-color: #128C53; /* この色はおおよそ原色より暗い値です。必要に応じて調整してください */
}

.small-whatsapp-button {
  color: white;
  display: inline-block;
  background-color: #25D366;
  padding: 5px;
  border-radius: 5px;
  width: auto;
  margin-left: auto;
}

.small-whatsapp-button:hover {
  background-color: #128C53; /* この色はおおよそ原色より暗い値です。必要に応じて調整してください */
}

.buttons__main {
  background-color: #13b1c0;
  color: #fff;
  width: 350px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.buttons__main:hover {
  background-color: #10a0ad;
}

/* Orange button ===== */
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  border-bottom: 5px solid #b84c00;
  padding: 15px 150px
}
a.btn--orange:hover {
  margin-top: 3px;
  color: #fff;
  background: #f56500;
  border-bottom: 2px solid #b84c00;
}
a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
/*  ===== */

.button-001 {
  margin: 10px 0px;
  display: inline-flex;  /* 'flex'を'inline-flex'に変更 */
  align-items: center;
  width: auto;  /* '150px'を'auto'に変更 */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color:  #13b1c0;
  color: #fff;
}

.button-001:hover {
  background-color: #10a0ad;
}

.button-002 {
  width: auto;  /* '150px'を'auto'に変更 */
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  background-color:  #13b1c0;
  color: #fff;
  text
}

.button-002:hover {
  background-color: #10a0ad;
}

.button-003 {
  background-color: #13b1c0;
  color: #fff;
  width: 200px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

.button-003:hover {
  background-color: #10a0ad;
}

.salir-button {
  background-color: transparent; /* 背景色を透明に */
  color: rgb(0, 0, 0); /* 文字色を黒に設定 */
  border: none; /* 枠線をなくす */
  font-size: 13px; /* 他のメニューアイテムと同じサイズに設定 */
  padding: 0; /* 余白をなくす */
  line-height: 64px; /* 他のメニューアイテムと同じ行の高さに設定 */
  margin: 0; /* 余白をなくす */
  cursor: pointer; /* ホバー時のカーソルを指マークにする */
  text-align: center; /* 文字を中央揃えに */
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
}

#btn-delete {
  background-color: transparent; /* 背景色を透明に */
  font-size: 24px;
}

/* privacy policy ================================ */
.right-align {
  text-align: right;
}

/* footer ================================ */
.footer-wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e9eef1;
}

.footer-container {
  max-width: 600px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-item {
  margin-right: 15px;
}
