<div class="main">
  <div class="form-container">
    <h1 class="ms-2 me-2">Editar evaluación</h1>
    <div class="form">
      <div class="form-body">
        <%= render 'form', { review: @review, service: @service } %>
      </div>
    </div>
  </div>
</div>
