<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">Crear una nueva evaluación</h1>
    <div class="form">
      <div class="form-body">
        <%= render 'form', { review: @review, @service: service } %>
      </div>
    </div>
  </div>
</div>
