<!DOCTYPE html>
<html>
  <head>
    <!-- 文字エンコーディングをUTF-8に設定 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* 電子メールで使用するため、スタイルはこの部分にインラインで記述する必要がある */
      /* 例: body { font-family: Arial, sans-serif; } */
    </style>
  </head>
  <body>
    <!-- Ruby on Railsのビューテンプレートから動的に生成されるコンテンツを挿入 -->
    <%= yield %>
  </body>
</html>
