<!-- ユーザーへの歓迎メッセージ。登録時に使用されたメールアドレスを動的に表示 -->
<p>¡Bienvenido <%= @email %>!</p>
<p>Puedes confirmar el correo electrónico de tu cuenta a través del enlace de abajo:</p>
<!-- 確認URLへのリンク。`confirmation_url`ヘルパーメソッドを使用して生成し、`@resource`と`@token`を用いてパラメータを指定 -->
<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Atentamente,</p>
<p>Equipo de Olumeca</p>
