<p>¡Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te estamos contactando para notificarte que tu correo electrónico se está cambiando a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te estamos contactando para notificarte que tu correo electrónico ha sido cambiado a <%= @resource.email %>.</p>
<% end %>

<p>Atentamente,</p>
<p>Equipo de Olumeca</p>
