<p>¡Hola <%= @resource.email %>!</p>
<p>Tu cuenta ha sido bloqueada debido a un número excesivo de intentos de inicio de sesión fallidos.</p>
<p>Haz clic en el enlace de abajo para desbloquear tu cuenta:</p>
<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
<p>Atentamente,</p>
<p>Equipo de Olumeca</p>
